# Core Libraries
numpy         # For numerical computations
pandas        # For data manipulation and analysis
scikit-learn  # For machine learning tasks

# Visualization Libraries
matplotlib     # For basic plotting
seaborn       # For enhanced statistical visualizations
# plotly==5.15.0        # For interactive visualizations

# Jupyter Notebook
notebook       # To run the .ipynb file

# Optional Libraries
scipy         # For advanced statistical analysis
# statsmodels==0.14.0   # For statistical modeling and diagnostics
