# Core Libraries
numpy         # For numerical computations
pandas        # For data manipulation and analysis
scipy         # For machine learning pipeline
scikit-learn  # For machine learning tasks

# Visualization Libraries
matplotlib    # For basic plotting
seaborn       # For enhanced statistical visualizations
# plotly      # For interactive visualizations

# Jupyter Notebook
notebook      # To run the .ipynb file

# Machine Learning Pipeline
sqlite3
joblib

# Optional Libraries
scipy         # For advanced statistical analysis
# statsmodels # For statistical modeling and diagnostics
